
.grid-item {
    width: 19%;
    margin-left: 0.8%;
    background-color: #272727;
    border-radius: 2%;
    -webkit-box-shadow: 5px 6px 15px 5px rgba(0,0,0,0.41);
    -moz-box-shadow: 5px 6px 15px 5px rgba(0,0,0,0.41);
    box-shadow: 5px 6px 15px 5px rgba(0,0,0,0.41);
    margin-bottom: 15px;
}
.grid-item:hover {
    width: 19.4%;
    margin-left: 0.4%;
    background-color: #272727;
    border-radius: 2%;
    -webkit-box-shadow: 5px 6px 15px 5px rgba(0,0,0,0.41);
    -moz-box-shadow: 5px 6px 15px 5px rgba(0,0,0,0.41);
    box-shadow: 5px 6px 15px 5px rgba(0,0,0,0.41);
    margin-bottom: 15px;
}
.grid{
    margin-top:10px;
    width: 100%;
}
.imagenPost {
    width: 100%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.titulo {
    color: #f1f1f1;
    margin-left: 3%;
    margin-top: 2%;
    font-size: 20px;
}

.desc {
    color: #aaaaaa;
    margin-left: 3%;
}
.posCorazon {
    float: right;
    margin-right: 3%;
    margin-top: 3%;
}
